extends layout

block content  
    h1 #{title} : `<span style="color: red;">#{book.title}<span>`

    p Do you really want to delete this book.
    form(method='POST')
        div#form-group
            button.btn.btn-primary(type='submit') Delete